/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require_self
 *= require_tree .

 */
body {
  height: 100vh;
  overflow: hidden;
}
.row {
  max-width: 100%;
}

li {
  list-style: none;
  display: inline-block;
}

.transactions {
  height: 80vh;
  overflow: auto;
}

.purchase-button {
  text-align: center;
  margin-top: 30%;
  border-radius: 5em;
}

.income-button {
  background-color: green;
  border-radius: 5em;
}

.income-button:hover {
  background-color: white;
  color: green;
  border-radius: 5em;
  font-weight: bold;
}
.container {
  text-align: center;
  margin-top: 20%;
}

.income-field {
  text-align: center;
  border-radius: 5em;
}

.button {
  border-radius: 5em;
}

.now.button.radius {
  border: solid 1px #000000;
  border-radius: 15%;
}

a.now.button.radius:hover {
  background-color: #ff0000;
}

.text-center {
  text-align: center;
}

.decoration-none {
  text-decoration: none;
  border-bottom: solid 1px #ffffff;
}

#sign-in-sign-up-msg {
  position: absolute;
  left: 0;
  right: 0;
  top: 10rem;
  bottom: 0;
}
