$black: #000000;
$black-opacity: rgba(0,0,0, 0.8);
$white: #ffffff;
$red: #ff0000;
$game-font: 'Press Start 2P';
$matrix-green: #00CC00;
$quicksand-font: 'Quicksand', sans-serif;
$lobster-font: 'Lobster', cursive;
$decision-height: 65vh;

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


#decision {
  background-color: $black;
  height: $decision-height;
}

#decision {
  h5.mission-statement {
    color: $white;
  }
}

#id {
  margin-left: 25%;
  margin-right: 25%;
}

/* decision buttons */
#decision-smoke {
  border: solid 1px $black;
  background-color: $white;
  color: $black;
}

#decision-smoke:hover {
  background-color: $black;
  border: solid 1px $red;
  color: $white;
  border-radius: 15%;
  transition: background-color 2s, color 2s, border 2s, border-radius 2s;
}

#decision-not-smoke {
  border: solid 1px $white;
  background-color: $black;
  color: $white;
}

#decision-not-smoke:hover {
  background-color: $white;
  color: $red;
  border: solid 1px $red;
  border-radius: 15%;

}
