$black: #000000;
$black-opacity: rgba(0,0,0, 0.3);
$white: #ffffff;
$red: #ff0000;


/* Font Colors */
.white-text {
  color: $white;
}

.white-text:hover {
  color: $white;
  text-decoration: underline;
  font-weight: bold;
}

.red-text {
  color: $red;
}

.opacity-text {
  opacity: 0.8;
}
