$black: #000000;
$black-opacity: rgba(0,0,0, 0.3);
$white: #ffffff;
$red: #ff0000;
$game-font: 'Press Start 2P';
$matrix-green: #00CC00;
$quicksand-font: 'Quicksand', sans-serif;
$lobster-font: 'Lobster', cursive;

#streak-bar {
  display: flex;
  width: 100%;
  padding-top: 1rem;
}

#streak-bar {
  div {
    width: 50%;
    left: 0;
    right: 0;
  }

  .left-bar {
    float: left;
  }
  .right-bar {
    float: right;
  }

  h5 {
    font-family: $lobster-font;
    font-size: 100%;
    color: $white;
    letter-spacing: 2px;
  }
}
